.digg{
  width: 100%;
  border: 1px solid black;
  box-sizing: border-box;
}
.schedule-btn{
    margin-bottom: 8px; 
    margin-left: 1110px;
}
.header{
    font-size: 20px;
    font-weight: 700;
}
.image-box{
    margin-top: 15px; 
    height: 100px; 
    width: 1100px;
    margin-left: 3px;
    border: 1px solid black;
    box-sizing: border-box;
}
.box{
  width: 1100px;
  height: 700px;
  border: 1px solid black;
  box-sizing: border-box;
  margin-left: 3px;
  margin-top: 15px;
}
.header2{
    font-size: 20px;
}
.build{
    margin-top: 15px; 
    height: 600px; 
    width: 1000px;
    margin-left: 45px;
}
.app{
    font-size: 15px;
    margin-left: 35px;
    margin-top: -20px;
}
.view{
    height: 25px;
    margin-left: 450px;
}
.host{
    margin-top: -25px;
    font-size: 13px;
}

/*Round  Check Box*/
/*
.round {
    position: relative;
    margin-top: -18px;
  }
  
  .round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 40%;
    height: 28px;
    left: 0;
    position: absolute;
    top: 0;
    width: 28px;
  }
  
  .round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 7px;
    opacity: 0;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 12px;
  }
  
  .round input[type="checkbox"] {
    visibility: hidden;
  }
  
  .round input[type="checkbox"]:checked + label {
    background-color: #66bb6a;
    border-color: #66bb6a;
  }
  
  .round input[type="checkbox"]:checked + label:after {
    opacity: 1;
  }
  */
  .box-building{
    width: 1100px;
    height: 450px;
    border: 1px solid black;
    box-sizing: border-box;
    margin-left: 3px;
    margin-top: 15px;
  }

  .big{ 
    width: 2.5em; 
    height: 2.5em;
    margin-top: -35px; 
  }

  .build_this{
    width: 95px;
    margin-bottom: -20px;;
  }
  
