/*index and page*/
.digg{
  width: 100%;
  height: 80px;
  border: 2px solid black;
  margin-top: 5px;
  box-sizing: border-box;
}
/*index.html page digg header CSS*/
.header{

  font-family: 'Anton', sans-serif;
  float: left;
  width: 50%;
  height: 67px;
  padding-left: 40px;
  padding-top: 20px;
}
/*index.html page Schedule a Call Button CSS*/
.schedule-btn{
  padding-top: 15px;/*
  padding-right: 80px;*/
  float: right;
}

.container{
  display: flex;
  flex-direction: column;
}

/*Welcome to Impulse Media where your ideas come to life CSS*/
.header1{
    font-size: 20px;
    font-weight: 700;
}
/*index.html page*/
.image-box{
    height: 100px;
    width: 100%;
    border: 2px solid black;
}

/*What would you like to build? in index.html*/
.header2{
  font-size: 25px;
}

/*Netflix card Box*/
.box1{
  width: 100%;/*
  height: 650px;*/
  margin-top: 16px;
  border: 2px solid black;
  box-sizing: border-box;
}
/*Which of the most following apps resembles your idea? index.html*/
.header3{
  font-size: 20px;
  padding-top: 10px;
}
/*View All*/
.view{/*
  margin-left: 440px;*/
  float: right;
  margin-top: 10px;
}

/*Give us a better idea about your app*/
.app{
  font-size: 15px;
  padding-left: 20px;
  margin-top: 0px;
}

/*Netflix Box start*/
.netflix-box{
  width: 270px;
  height: 200px;
  border: 2px solid black;
  box-sizing: border-box;
  margin-top: 30px;
  padding-left: 5px;
  margin-left: 50px;
}
.big{
  width: 2.5em; 
  height: 2.5em;
  margin-left: 30px;
  margin-top: 15px;
}
.design-box{
  height: 30px;
  width: 30px;/**/
  margin-left: 140px;
  margin-top: 20px;
  border: 2px solid black;
  box-sizing: border-box;
}
.netflix{
  margin-left: 200px;
  margin-bottom: 20px;
}
.net-box{
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  border: 2px solid black;
  margin-left: 135px;
  margin-top: 5px;
}
/*Netflix Box Finish*/

/*Amazon*/
.box2{
  width: 100%;/*
  height: 340px;*/
  margin-top: 80px;
  border: 2px solid black;
  box-sizing: border-box;
}
/*The Top trends for apps in the region*/
.top{
  font-size: 15px;
  padding-left: 2px;
  margin-top: 0px;
}
/*Host and broadcast television series, one-off episodes, and movies to subscribers.*/
.host{
  margin-bottom: auto;
  font-size: 12px;
}
/*Build button CSS*/
.build{
  width: 85px;
  margin-top: 10px;
  margin-left: 0px;
  float: left;
}
/*312 people building this*/
.this{
  margin-top: 20px;
  font-size: 8px;
}
/*Amazon Logo positioning*/
.fa-amazon{
  margin-left: 80px;
  padding-bottom: 0px;
}

.nav-tabs{
   display: flex;
   flex-direction: row;
}

/*page.html CSS*/
.in{
  width: 700px;
}
.input-group-prepend{
  margin-left: 300px; 
}
.box3{
  width: 100%;/*
  height: 500px;*/
  margin-top: 16px;
  border: 2px solid black;
  box-sizing: border-box;
}
.box4{
  width: 100%;
  height: 340px;
  margin-top: 50px;
  border: 2px solid black;
  box-sizing: border-box;
}


/*Custom Files CSS*/
.box4{
    width: 100%;
    background-color: gainsboro;
    margin-left: 0px;
    margin-top: -7px;
    height: 70px;
    float: left; 
    height: 60px;
}
.search{
  margin-left: 20px; 
  margin-top: 10px;
}
.feature{
  width: 250px; 
  margin-left: 0px;
}
.fa-shopping-cart{
  margin-top: 13px; 
  margin-left: 4px;
}
.texts{
  color: black; 
  margin-top: 13px; 
  margin-left: 7px; 
  font-size: 22px;
}
.card{
   height: 100px;
   width: 315px;
}
.rad{
  width: 2.5em; 
  height: 2.5em;
  margin-right: 20px;
}
.email-card{
  width: 1032px; 
  height: 100px; 
  margin-left: -29px;
}
.box5{
  width: 1030px; 
  height: 768px;
  margin-left: -28px; 
  margin-top: -22px; 
  background-color: gainsboro;
}
.dashboard{
  height: 550px; 
  width: 150px; 
  background-color: white; 
  margin-left: 120px; 
  margin-top: 100px;
  border: 1px solid black; 
  box-sizing: border-box;
}
.install{
  margin-top: -22px; 
  height: 100px;
  width: 1400px;
  border: 1px solid black; 
  box-sizing: border-box;
  margin-left: -1px;
}

/*Delivery.html page CSS*/
.select-box{
  width: 300px;
  height: 120px;
  border: 2px solid black;
  margin-top: 25px;
  margin-left: 190px;
  border-radius: 25px;
  box-sizing: border-box;
    
}
.project-box{
  width: 50%;
  height: 120px;
  border: 2px solid black;
  margin-top: 25px;
  margin-left: 30px;
  border-radius: 25px;
  box-sizing: border-box;
}
.select-platform{
    font-size: 13px;
    font-weight: 600;
    margin-top: 22px;
    margin-left: 10px;
}
.selected{
  font-size: 11px;
  font-weight: 600;
  margin-top: 22px;
  margin-left: 10px;
  margin-top: 6px;
}
/*Range Slider Start*/
.slidecontainer {
  width: 100%;
  margin-bottom: 10px;
}

.slider {
  -webkit-appearance: none;
  width: 80%;
  height: 5px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  margin-left: 30px;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}
/*Range Slider Finish*/

/*delivery.html Double box overlapping*/ 
.phase-box{
  width: 85%;
  height: 130px;
  border: 2px solid black;
  margin-top: 25px;
  margin-left: 20px;
  border-radius: 25px;
  box-sizing: border-box;
}
/*Hover Effect*/
.phase-box:hover{
    border: 2px solid limegreen;
}
.project-box{
  width: 101%;
  height: 70px;
  border: 1px solid black;
  background-color: gainsboro;
  margin-top: 0px;
  margin-left: -1px;
  border-radius: 25px;
  box-sizing: border-box;
}
.project-box:hover{
  background-color: limegreen;
}
.box-text{
  font-size: 17px;
  margin-top: 15px;
}
.fa-check-circle{
   margin-top: 10px;
}
.deliver-text{
  font-size: 10px;
  margin-right: 20px;
}

/*Summary CSS*/
.field{
   width: 50%;
   margin-left: 10px;
}
.complete{
  border-radius: 20px; 
  width: 300px; 
  background-color: red; 
  color: white; 
  margin-left: 350px;
}
.summary-box{
  width: 400px;
  height: 400px;
  border: 2px solid black;
  box-sizing: border-box;/*
  margin-top: 30px;*/
  margin-left: 180px;
}
.summary-box-text{
  font-weight: 700;
}
.small-box{
  width: 340px;
  height: 80px;
  background-color: gainsboro;
  border-radius: 0px;
  border: 1px solid lightgrey;
  margin-left: 25px;
  margin-top: 7px;
}
  /*Media Queries*/


  /*Mobile Device*/
  @media only Screen and (max-width: 960px){

    .digg{
      width: 100%;
      height: 70px;
    }/*
    .header{
      font-size: 20px;
      padding-right: 20px;
    }*/
    .image-box{ 
      margin-left: 1px;
      width: 100%;
    }
  
  .nav-tabs{
     display: flex;
     flex-direction: column;
     text-align: center;
  }
   

   /*
  .box1{
    width: 100%;
  }
  */

  .box2{
    margin-top: 5px;
  }

  .box3{
    height: 1850px;
  }
  
  .in{
    width: 300px;
    margin-left: 70px;
  }

  .in{
    width: 200px;
    padding-right: 90px;
  }
  .input-group-prepend{
    margin-left: 70px;
    padding-left: 10px; 
  }

  .header1{
    font-size: 20px;
    margin-right: 5px;
  }
  .view{
    float: none;
  }
  .app{/*
    font-size: 10px;
    margin-right: 5px;*/
  }
  /*Delivery.html*/
  .select-box{
    margin-left: 60px;
  }

  .selected{
    float: left;
  }

  /*Summary Page the 5th page Responsive Design*/
   .complete{
     margin-left: 90px;
   }

   .summary-box{
     margin-top: 5px;
     margin-left: -2px;
   }
   /*Summary Page the 5th page Responsive Design*/
  }

  
  
