.schedule-btn{
    margin-bottom: 8px; 
    margin-left: 885px;
}
.header{
    font-size: 20px;
    font-weight: 700;
}
.image-card{
    margin-top: 15px; 
    height: 100px; 
    width: 1000px;
    margin-left: 45px;
}
.header2{
    font-size: 20px;
}
.build{
    margin-top: 15px; 
    height: 500px; 
    width: 1000px;
    margin-left: 45px;
}
.app{
    font-size: 15px;
    margin-left: 35px;;
}
.b2{
    height: 25px;
    margin-left: 350px;
}
.netflix{
    height: 50px;
    width: 300px;
    background-color: red;
}